<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Tickema(チケマ) 舞台俳優・役者・チケット管理</title>
    <meta name="description", content="Tickema(チケマ)は舞台俳優向けのチケット管理サービス。「誰がいつ来るか」「お礼の連絡をしたか」予約情報を一括管理。シンプルな機能で操作は簡単">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= favicon_link_tag("apple-touch-icon.png", { rel: "apple-touch-icon", size: "180x180", type: "image/png" }) %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
